[submodule "nixos"]
	path = nixos
	url = https://github.com/haruki7049/my_nixos_config
[submodule "vim"]
	path = vim
	url = https://github.com/haruki7049/my_vim_config.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/haruki7049/my_neovim_config.git
[submodule "helix"]
	path = helix
	url = https://github.com/haruki7049/my_helix_config.git
[submodule "powershell"]
	path = powershell
	url = git@github.com:haruki7049/my_powershell_config
[submodule "nushell"]
	path = nushell
	url = git@github.com:haruki7049/my_nushell_config.git
